<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Burger-Restaurant</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/burger.jpg">
</head>
<body>
<div class="homepage">

    <h1>Welcome to our Restaurant</h1>
    <p>
        Welcome to the most delicious burger restaurant in Zurich.
        This is my first restaurant and its only located in Zurich.
        With a click on the button below you can view my burger menu card.

        I look forward to welcoming you to my restaurant as soon as possible.
    </p>
</div>

<div class="homepageButton">
    <a class="buttons" href="/burger">Our menu cards</a>
</div>

</body>
</html>